*{ box-sizing: border-box; margin: 0;}
body { height: 100vh; overflow: hidden; color: white; background-color:black; display: flex; justify-content: center; flex-direction: column;}
input { border: none;}
input:focus { outline: none;}

.이름묻기 { display: flex; flex-direction: column; align-items: center; justify-content: center;}
.이름묻기.hide { display: none; opacity: 0; height: 0px;}
.이름묻기 p { font-size: 55px; margin-bottom: 30px;}
.이름묻기 input { font-size: 55px;  border-bottom: 1px solid white; background-color: black; color: white; text-align: center; padding: 10px;}

.바디마진 { height: 100%; margin: 15px; display: flex; flex-direction: column; justify-content: space-between;}
.바디마진.hide { display: none; opacity: 0; height: 0px;}

.메인네비 { display: flex; justify-content: space-between; align-items:flex-start;}
.메인네비 .left { display: flex; align-items: center; font-size: 17px;}
.메인네비 .left i{ margin: 8px; font-size: 15px;}
.메인네비 .right { display: flex; flex-direction: column;}
.메인네비 .right .up i { font-size: 22px;}
.메인네비 .right .up strong { font-size: 27px;}
.메인네비 .right span { font-size: 13px; text-align: right;}

.메인섹션 { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 5%;}
.메인섹션 .현재시간 {font-size: 160px;}
.메인섹션 .인사 { display: flex; line-height: 1em;}
.메인섹션 .인사 .인사말 { font-size: 54px; margin-bottom: 140px; margin-right: 12px;}
.메인섹션 .인사 .이름 { font-size: 54px; margin-bottom: 140px;}
.메인섹션 h3 {font-size: 35px; }
.메인섹션 .핵심일폼 .핵심일인풋 { border-style: none; border-bottom: 1px solid white; width: 540px; height: 50px; background-color: black;  color: white; font-size: 30px; text-align: center; padding:10px;}
.메인섹션 .핵심일폼 .핵심일인풋:focus { outline: none; }
.메인섹션 .oneThing { display: flex; flex-direction: column; justify-content: center; align-items: center; min-width: 500px;}
.메인섹션 .oneThing .today { font-size: 20px;}
.메인섹션 .oneThing .oneThing-Modify { display: flex; align-items: center; justify-content: center; position: relative;}
.메인섹션 .oneThing .oneThing-Modify i { position: absolute; left: -40px; font-size: 22px; z-index: -1;}
.메인섹션 .oneThing .oneThing-Modify input[id="oneThingCheck"] { display: none; position: absolute;}
.메인섹션 .oneThing .oneThing-Modify input[id="oneThingCheck"] + label { display: inline-block; position: absolute;  left: -40px; width: 20px; height: 20px; border: 2px solid white; cursor: pointer; margin-right: 18px;}
.메인섹션 .oneThing .oneThing-Modify .list { font-size: 38px;}
.메인섹션 .oneThing .oneThing-Modify .list.strikethrough { text-decoration: line-through;}
.메인섹션 .oneThing .oneThing-Modify button { position: absolute; right: -60px; background-color: black; border: none; width: 50px; height: 50px; border-radius: 50%;}
.메인섹션 .oneThing .oneThing-Modify button:hover { background-color: rgba(255, 255, 255 , 0.3);}
.메인섹션 .oneThing .oneThing-Modify button.rotate { outline: none; transform-origin: center; transform: rotate(45deg);}
.메인섹션 .oneThing .oneThing-Modify button .닫기표시 { top: 3.2px; left: 13.3px; font-size: 30px; color: white;}
.메인풋터 { display: flex; justify-content: space-between; align-items: center;}
.메인풋터 .할일박스 {z-index: 10; position: absolute; right: 15px; bottom: 60px; display: flex; flex-direction: column; width: 350px; height: 250px; background-color: white; color: black; border-radius: 5px; padding:10px;}
.메인풋터 .할일박스 nav { display: flex; justify-content: space-between; font-size: 20px; margin: 10px 10px 0px 10px;}
.메인풋터 .할일박스 section { display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow:1;}
.메인풋터 .할일박스 section h4 {font-size: 16px; margin-bottom: 5px; font-weight: 400;} 
.메인풋터 .할일박스 section h5 {font-size: 14px; margin-bottom: 16px; font-weight: 200; color: dimgray;} 
.메인풋터 .할일박스 section .할일시작버튼 { width: 116px; height: 31px; border-radius: 10px; border: none; border-style: none; color: white; background-color: rgb(45,62,145); font-size: 14px;}

.todo-footer form { display:flex; }
.todo-footer input { flex-grow: 1; font-size: 20px; color: rgb(104, 104, 104);}
.todo-footer input::placeholder { color: rgb(175, 175, 175);}

.메인풋터 .말풍선만들기 { position: absolute; right: 20px; bottom: -5px; width: 15px; height: 15px; background-color: white; transform: rotate(45deg); z-index: -10;}
.메인풋터 .할일버튼 { border: none; border-style: none; background-color: black; color: white; font-size: 17px;}

.hide { display: none; opacity: 0; height: 0px;}
